.autoriz-panel {
    margin-top: 10%;
}


/*
.noactive {
    color: #fff;
}
.tab-content .tab-pane {
    background: rgba(255, 255, 255, 0.47);
    border-radius: 0 0 10px 10px;
    text-shadow: 0px 0px 3px #fff;
}
.tabs-body {
    /*margin-top: -20px;*//*
    box-shadow: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.tabs-body-content {
    padding: 1px;
    margin-bottom: 5px;
}
.tabs-form {
    margin: 15px;
}
*/